p{
    font-weight: bold;
}

body{
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    color:brown;
    background-color: blanchedalmond;
}

h2 {font-style: italic;
}

h5 {
    font-style: italic;
}
